body {
	margin: 0;
}
.top, .content, .lateral, .final {
	padding: 1em 2em;
}
.content, .lateral, .final {
	float: left;
	box-sizing: border-box;
}
.top {
	background-color: coral;
	height: 100px;
}
.content {
	width: 60%;
}
.lateral {
	width: 40%;
	background-color: aqua;
	height: 500px;
}
.post {
	background-color: gray;
	height: 100px;
	margin-bottom: 1em;
}
.final {
	width: 100%;
	background-color: #000;
	height: 50px;
}

@media screen and (min-width: 780px) and (max-width: 1280px){
	.top {
		background-color: #469630;
	}
	.content, .lateral {
		width: 50%
	}

}
@media screen and (min-width: 480px) and (max-width: 780px){

	.top {
		background-color: #464630;
	}
	.content, .lateral {
		width: 100%
	}
}
@media screen and (min-width: 480px){

	.top {
		height: 80px;
	}
	.content {
		background-color: blue;
	}
	.content, .lateral {
		width: 100%;
	}
}